<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <link rel="stylesheet" href='static/homepag.css'>
</head>
<body>
    <header>
        <h1>News Today</h1>
        <a href="/upl" class="button">StockAI</a>
    </header>
    <main>
        <article class="news-item">
            <h2>{{Stock1}}</h2>
            <p><a href="{{ url1 }}">{{news1}}</a></p>
        </article>
        <article class="news-item">
            <h2>{{Stock2}}</h2>
            <p><a href="{{ url2 }}">{{news2}}</a></p>
        </article>
        <article class="news-item">
            <h2>{{Stock3}}</h2>
            <p><a href="{{ url3 }}">{{news3}}</a></p>
        </article>
        <article class="news-item">
            <h2>{{Stock4}}</h2>
            <p><a href="{{ url4 }}">{{news4}}</a></p>
        </article>
        <article class="news-item">
            <h2>{{Stock5}}</h2>
            <p><a href="{{ url5 }}">{{news5}}</a></p>
        </article>
        <article class="news-item">
            <h2>{{Stock6}}</h2>
            <p><a href="{{ url6 }}">{{news6}}</a></p>
        </article>
    </main>
    <footer>
        <p>&copy; 2024 News Today</p>
    </footer>
</body>
</html>
